﻿
@{
    ViewBag.Title = "Index";
}


<div ng-app="innova" ng-controller="upload">

    <h2><small>Select the stock price file  to download  </small></h2><br />
    <select ng-model="SelectedStock">
        <option value="volvo">Price List -06-October-2016.xls</option>
        <option value="volvo">Price List -07-October-2016.xls</option>
        <option value="volvo">Price List -10-October-2016.xls</option>
        <option value="volvo">Price List -11-October-2016.xls</option>
        <option value="volvo">Price List -12-October-2016.xls</option>
        <option value="volvo">Price List -13-October-2016.xls</option>
        <option value="volvo">Price List -14-October-2016.xls</option>
        <option value="volvo">Price List -15-October-2016.xls</option>
        <a href="~/Views/Upload/Index.cshtml">~/Views/Upload/Index.cshtml</a>
        <option value="volvo">Price List -17-October-2016.xls</option>
        <option value="volvo">Price List -19-October-2016.xls</option>
        <option value="volvo">Price List -21-October-2016.xls</option>
        <option value="volvo">Price List -25-October-2016.xls</option>
    </select><br /><input type="button" class="btn btn-primary" ng-click="DownloadStockFile()" value="Download File" />

    <h2><small>Upload Stock Price File</small></h2><br />
    <input type="file" file-model="myFile" /><br />

    <input type="button" class="btn btn-primary" ng-click="uploadFile()" value="Upload File" />
    <br /><br />


    <input type="text" id="searchStock"/>
    <input type="button" class="btn btn-primary"  ng-click="searchStock()" value="SearchStock" />
    <br /><br />

    <table class="table table-striped" ng-controller="updateTable">
        <tr>
            <th>Stock Name</th>
            <th>Market Price</th>
            <th>High</th>
            <th>Low</th>
            <th>Shares Traded</th>
        </tr>
        <tr ng-repeat="x in stockPriceData">
            <td>{{ x.stockName }}</td>
            <td>{{ x.marketPrice | currency:"Ksh:" }}</td>
            <td>{{ x.High | currency:"Ksh:"}}</td>
            <td>{{ x.Low | currency:"Ksh:"}}</td>
            <td>{{ x.sharesTraded }}</td>
        </tr>
    </table>
</div>

<script src="~/Scripts/App/app.js"></script>